<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') -%>
    <style>
        .img-position {
            position: absolute;
            top: 140px;
            left: 40px;
        }
        .logoBrandSize {
            height: 140px;
        }
        .introFit {
            padding-top: 430px;
        }
        .card.hover-shadow-light, .hover-shadow-light {
            transition: all .5s ease-in-out;
        }

        .card.hover-shadow-light:hover, .hover-shadow-light:hover {
            box-shadow: 0 8px 17px 0 rgba(0,0,0,.05), 0 6px 20px 0 rgba(0,0,0,.05);
            transition: all .5s ease-in-out;
        }
        .cardStyle {
            border: none!important;
            width: 19rem;
        }
        @media(max-width: 900px){
            #hide1 {
                display: none;
            }
            #hide2 {
                display: none;
            }
            .cardStyle {
                border: none!important;
                width: 100%;
            }
        }

    </style>
</head>

<body>
<!-- Start your project here-->
<!--Section: Design Block-->
<header>
    <!-- Navbar -->
    <%- include('partials/navBar') -%>
    <!-- Navbar -->

</header>

<!--Section: Design Block-->
<!-- Container for demo purpose -->
<div class="container-fluid my-5 py-5">
    <!-- Container for demo purpose only -->
    <div class="container pt-5">

        <!-- Section: Design Block -->
        <section class="mb-8">
            <div class="row">
                <div class="col-2 text-center">
                    <a href="/hawaii">
                        <h5><i class="fas fa-chevron-circle-left"></i> <span id="hide1">Hawaii</span></h5>
                    </a>
                </div>

                <div class="col-8 text-center">
                    <h3 class="mb-4 pb-2">Arizona Projects</h3>
                    <p class="mx-auto lead mb-5 pb-3" style="max-width: 700px;">
                        8137 N 83rd Ave, Peoria, AZ <br>
                        (623) 979-1117
                    </p>
                </div>

                <div class="col-2 text-center">
                    <a href="/nevada">
                        <h5><span id="hide2">Nevada</span> <i class="fas fa-chevron-circle-right"></i></h5>
                    </a>
                </div>
            </div>
            <div class="lightbox">
                <div class="row row-cols-lg-auto d-flex mx-auto justify-content-center align-items-center text-center me-1 py-2">
                    <% for(i=0; i < arizonaPost.length; i++){ %>
                    <div class="card cardStyle">
                        <a href="/projectA/<%= arizonaPost[i]._id %>" class="btn mb-2 btn-outline-black">View Project Details</a>
                        <img src="<%= arizonaPost[i].image %>"
                             data-mdb-img="<%= arizonaPost[i].image %>" alt="<%= arizonaPost[i].title %>"
                             class="w-100 mb-4 rounded-5 shadow-3-soft" />
                    </div>
                    <% } %>
                </div>
            </div>
        </section>
        <!-- Section: Design Block -->
        <div class="row row-cols-lg-auto d-flex mx-auto justify-content-center align-items-center text-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="/hawaii" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="/arizona">Arizona</a></li>
                    <li class="page-item"><a class="page-link" href="/nevada">Nevada</a></li>
                    <li class="page-item"><a class="page-link" href="/california">California</a></li>
                    <li class="page-item"><a class="page-link" href="/hawaii">Hawaii</a></li>
                    <li class="page-item">
                        <a class="page-link" href="/nevada" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- Container for demo purpose only -->
</div>
<!-- Container for demo purpose -->

<!-- Footer -->
<%- include('partials/footer') -%>
<!-- Footer -->
<!-- End your project here-->
<%- include('partials/scripts') -%>
</body>

</html>
